<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsObVg3hOXczXojfZB7yheEX8ORjduUxE</string>
	<key>GCM_SENDER_ID</key>
	<string>541779307168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.servicex.farmersconnets</string>
	<key>PROJECT_ID</key>
	<string>farmersconnect-2be94</string>
	<key>STORAGE_BUCKET</key>
	<string>farmersconnect-2be94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541779307168:ios:8c66fc7587006948a637c5</string>
</dict>
</plist>